<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pv.com.pvcloudgo">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" />

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomAppTheme">
        <activity
            android:name=".vc.view.ui.activity.start.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".vc.view.ui.activity.other.WareListActivity" />
        <activity
            android:name=".vc.view.ui.activity.other.WareDetailActivity"
            android:exported="true"
            android:label="@string/title_activity_ware_detail" />
        <activity
            android:name=".vc.view.ui.activity.start.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vc.view.ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".vc.view.ui.activity.start.FindPassActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".vc.view.ui.activity.order.CreateOrderActivity" />
        <activity android:name=".vc.view.ui.activity.other.PayResultActivity" />
        <activity
            android:name=".vc.view.ui.activity.start.RegActivity"
            android:label="@string/title_activity_reg" />
        <activity android:name=".vc.view.ui.activity.addr.AddressListActivity" />
        <activity android:name=".vc.view.ui.activity.addr.AddressAddActivity" />

        <meta-data
            android:name="mob_sms_appKey"
            android:value="ba92fe610bb4" />
        <meta-data
            android:name="mob_sms_appSecrect"
            android:value="e73deba501fb3faaa1b5c2729e3eedbe" />

        <activity android:name=".vc.view.ui.activity.order.MyOrderActivity" />
        <activity android:name=".vc.view.ui.activity.mine.OrderDetailActivity" />
        <activity android:name=".vc.view.ui.activity.other.MyFavoriteActivity" />

        <!-- above activity that demo required,has nothing to with umeng sdk -->
        <!-- *************************    related to Share START **************************** -->
        <!-- Share edit page -->
        <activity
            android:name="com.umeng.soexample.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- wechat callback -->
        <activity
            android:name="com.umeng.soexample.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback -->
        <activity
            android:name="com.umeng.soexample.apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <!-- *************************     related to Share END **************************** -->
        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity android:name=".vc.view.ui.activity.other.CategoryActivity" />
        <activity android:name=".vc.view.ui.activity.home.CloudTcActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.PhoneChargeActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.PhoneChargeRecordActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.CloudWorldGoActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.CloudPointActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.CloudPointApplyActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.OMYOActivity" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".vc.view.ui.activity.home.CloudClubActivity"></activity>
        <activity android:name=".vc.view.ui.activity.home.AboutUsActivity"></activity>
        <activity android:name=".vc.view.ui.activity.vip.ShopActivity"></activity>
        <activity android:name=".vc.view.ui.activity.mine.SettingActivity"></activity>
        <activity android:name=".vc.view.ui.activity.mine.OrderActivity"></activity>
        <activity android:name=".vc.view.ui.activity.mine.PersonalInfoActivity"></activity>
    </application>

</manifest>